* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: lightsalmon;
  width: 100%;
  font
}


.menu ul,
li {
  background-color: teal;
  display: flex;
  padding-left: 4.5rem;
  padding-top: 1.375rem;
  list-style: none;
  gap: 2rem;
  /*  justify-content: left; */
  display: block;
}

.menu li {
  padding: 15px 24px;
  display: inline-block;
}

.menu a {
  color: lightsalmon;
  text-decoration: none;
}

.introducao h1 {
  color: coral;
  font-size: 2rem;
  margin-top: 10rem;
  padding: 2rem;
  background-color: rgba(0.5, 0.5, 0.5, 0.5);
  text-align: center;
  margin-bottom: ;
}

.descricao {
  margin-top: 15rem;
}

.descricao-titulo {
  color: yellow;
  padding-left: 1.25rem;
  margin-bottom: 1.25rem;
  font-size: 2rem;
}

.descricao {
  padding-left: 1.25rem;
}

.descricao-p,
p {
  color: #ffffff;
  margin-left: 1.25rem;
}

.fotos img {
  width: 30%;
  margin: 1.5%;
}

.fotos {
  margin-top: 5.125rem;
  margin-bottom: 5.438rem;
}

.text-motivation {
  padding-top: 3.75rem;
  background-color: #008080;
  text-align: left;
  padding-bottom: 6.875rem;
}

.motivation-h1 {
  color: #ffff00;
  padding-bottom: 2.875rem;
  margin-left: 1.25rem;
}

.motivation-p {
  color: #ffff00;
  margin-left: 1.25rem;
}

.d-corrida {
  text-align: center;
  margin-top: 6rem;
  color: #ffff00;
  margin-bottom: 1.375rem;
}

.c-1 img {
  width: 50%;
  height: auto;
  display: block;
  margin: auto;
}

.m-1 {
  color: #ffff00;
  text-align: center;
  margin-top: 2.125rem;
  margin-bottom: 2.5rem;
}

@media (max-width: 1048px) {
  .fotos img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 640px) {
  .introducao h1 {
    margin-top: 2rem;
  }
  .introducao {
    max-height: 200px;
  }

  .fotos img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .li {
    display: block;
    text-align: center;
  }
}

@media (max-width: 320px) {
  .motivation-h1 {
    font-size: 2rem;
  }
  .fotos img {
    width: 100%;
  }
}
